.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_open {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #ffffff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
  max-width: fit-content;
  margin-top: 40px;
}

.modal__container_type_preview {
  padding: 0;
  width: auto;
  background-color: transparent;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  opacity: 80%;
}

.modal__close-btn_type_preview {
  background-image: url("../images/Close\ Icon.svg");
  top: -5px;
  right: -41px;
  opacity: 1;
  background-color: transparent;
}

.modal__caption {
  padding: 4px 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #212121;
  color: #fff;
  margin: 0;
  width: fit-content;
  border-radius: 8px;
  margin-top: 4px;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  font-family: Poppins, Arial, sans-serif;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 8px;
}

.modal__input_type_error {
  border: 1px soild #ff0000 (255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  color: #ff0000;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.modal__delete-btn_error {
  background-color: #212121;
  opacity: 0.5;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 25px;
  }

  .modal__container {
    padding: 12px;
    box-sizing: content-box;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 15px;
    right: 8px;
  }

  .modal__close-btn_type_preview {
    top: -41px;
    left: 250px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__image {
    border-radius: 4px;
    width: 100%;
    min-width: 288px;
    object-fit: cover;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
    max-width: 288px;
  }
}
